Welcome

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<input id="myInput" value="Chicago">type some text, then press Enter/Return
<div id="log">0/100
</div>
<script>
    $("#myInput").on("keypress", function(e){
        if(e.which == 13){
            $("#log").append( "<i>You</i>: "+ $("#myInput").val() +"<br>");
            $.post("demo_test_post.asp",
                   { name: "Donald Duck", city: $("#myInput").val() },
                   function(data,status){
                       $("#log").append( "<i>Bot</i>: "+ data +"<br>"); 
                       }
                  );
        }
    });
</script>

